@import '../../../styles/settings.scss';

.root {
    border-left: $border;
    position: fixed;
    padding-left: 40px;
    height: 80vh;
  }

.listSubheader {
  font-size: calc(0.75 * #{$base-size});
  color: $secondary;
  padding: 0;
}

.listItem {
  padding: 0;
}

.listItemText {
  text-transform: capitalize;
  font-family: $text-header;
  font-size: calc($base-size * 2);
  font-weight: 700;
}

.active {
  color: $gray;
}