@import '../../../styles/settings.scss';

.root {
    width: 100%;
  }
  
  .splash {
    position: relative;
    width: 100%;
  
    a {
      display: block;
    }
  
    img {
      width: 100%;
      height: 650px;
      object-fit: cover;
    }
  }
  
  .header {
    position: absolute;
    top: 40%;
    left: -80px;
    width: 400px;
  }

  @media (max-width: 960px) {
    .header {
      position: static;
    }
  }